@{
    ViewData["Title"] = "Home Page";

    PokemonSpecies pokemonS = ViewBag.PokemonS;
    Pokemon pokemon = ViewBag.Pokemon;

    EvolutionChain evolutionChain = ViewBag.pokemonChain;

    PokemonSpecies pokeCounter = ViewBag.PokeCounter;

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form asp-controller="Home" asp-action="Index">
        <p>
            Nome: <input type="text" name="busca" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    @if (pokemon != null)
    {
        if (pokemon.Name.Equals("NãoExiste"))
        {
            <h1>Nenhum Pokemon Encontrado</h1>
        }
        else
        {
            <style>
                table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                }

                td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }

                tr:nth-child(even) {
                    background-color: #dddddd;
                }
            </style>

            <table>
                <tr>
                    <td>Nome</td>
                    <td>Tipo 1</td>
                    <td>Tipo 2</td>
                </tr>
                <tr>
                    <td>@pokemon.Name</td>
                    @for (int i = 0; i < 2; i++)
                    {
                        <td>
                            @pokemon.Types[i].Type.Name;
                        </td>
                    }
                </tr>
            </table>
            if (pokemonS.EvolvesFromSpecies != null)
            {
                <h3>Evolui de:</h3>
                <h3>
                    @pokemonS.EvolvesFromSpecies.Name
                </h3>
            }
            if (pokemonS.EvolutionChain != null)
            {
                <h3>Evolui Para:</h3>
                <h3>
                    @pokemonS.EvolvesFromSpecies.Name
                </h3>
            }


        }

    }



</div>
